body {
    background-color: rgb(0, 65, 0);
    font-family: "Trebuchet MS", Helvetic, sans-serif;
}

#bj-container {
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgba(245, 245, 245, 0.829);
    line-height: 1px;
    height: 220px;
    margin: auto;
    /* grid-gap: 10px; */
}

h1 {
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
}

p {
    font-weight: lighter;
    text-align: center;
}

#message-el {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

button {
    color: #004b22;
    width: 150px;
    padding: 5px 0px;
    background-color: goldenrod;
    margin: auto;
    margin-bottom: 6px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
}

button:active {
    background-color: white;
}
